# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# OpenVINO output directories
densenet201_beheaded/
densenet_openvino/

# Jupyter Notebook
.ipynb_checkpoints
